.col-sm-8.col-sm-offset-2
	.row
		.col-sm-4
			ul.list-unstyled
				li: a(href="https://nodegear.com/") Nodegear
				li: a(href="/pricing.html") Pricing
		.col-sm-4
			ul.list-unstyled
				li: a(href="https://nodegear.zendesk.com/hc/en-us" target="_blank") Help Desk
				li: a(href="https://nodegear-blog.ngapp.io" target="_blank") Blog (Hosted on Nodegear)
		.col-sm-4
			ul.list-unstyled
				li: a(href="https://nodegear-monitoring.appspot.com/" target="_blank") Status Board
				li: a(href="https://twitter.com/nodegear" target="_blank") Twitter
				li: a(href="https://plus.google.com/111993889366966193125" target="_blank") Google+