mixin navbar(active)
	.row
		.col-sm-12(style="padding-left:0; padding-right:0")
			nav#indexHeader.navbar
				.container-fluid
					.navbar-header
						a.navbar-brand(href="/") Nodegear
					ul.nav.navbar-nav.navbar-right
						li(class= active == 1 ? "active" : null): a(href="/") Overview
						li(class= active == 2 ? "active" : null): a(href="/pricing.html") Pricing
						li(class= active == 3 ? "active" : null): a(href="/features.html") Features
						li.navbar-spacer: &nbsp;
						li: a(href="https://nodegear.io/") Log in
						li: a(href="https://nodegear.io/register" target="_blank") Sign up
