extends layout

include inc/navbar

block content
	header
		+navbar(1)
		.container-fluid
			h1.text-center Node.js hosting for web developers.
			h3.text-center Simple hosting for all your projects.
			form.form-inline.text-center
				.form-group
					input.input-lg.form-control(type="email" placeholder="Email Address" autofocus)
				.form-group
					input.input-lg.form-control(type="password" placeholder="Password")
				button.btn.btn-lg.btn-primary Create Account
	.container
		.row
			section.col-sm-4
				.thumbnail
					img(src="")
				h3.text-center Ghost.js
				p.text-center Launch your production-ready Ghost.js blog, using the preset app template.
					br
					a(href="https://nodegear.io/register") Sign Up.
			section.col-sm-4
				.thumbnail
					img(src="")
				h3.text-center Monitoring
				p.text-center Gain insight into your application performance, in real time.
					br
					a(href="/features.html") Learn More.
			section.col-sm-4
				.thumbnail
					img(src="")
				h3.text-center Easy to Use
				p.text-center Hosting node.js apps is hard. We do the work so you don't have to.

	.our-story
		.container
			.row
				.col-sm-12
					h1.text-center Our Story
					blockquote We found that hosting node.js applications by ourselves is hard. Whenever we had a new project, there was a lot of work to be put into setting up the right environment, creating the database. We created a service that automates all this, while being cheap and reliable. We use NodeGear for all our node.js apps internally, and so should you.

	.container.how-it-works
		.row
			.col-sm-12
				h1.text-center How it works
					br
					small There are two simple ways to deploy your app to nodegear
		.row(style="margin-top: 10px;")
			.col-sm-6
				h3 Use a Pre-Defined Template
				ol
					li Give it a name
					li Select from Ghost.js, an app Demo or a git repository
					li Press Create
			.col-sm-6
				h3 Push your git repository to NodeGear
				ol
					li: code git push git@nodegear.io:alex/coolproject.git
					li Your Code is Received and Deployed to our servers
					li App is started on coolproject.alex.ngapp.io
		.row(style="margin-top: 15px;")
			.col-sm-12.text-center
				a.btn.btn-success.btn-lg(href="https://nodegear.io/register") Get Started!

	.partners
		.container
			.row
				.col-sm-12
					h1.text-center Our Partners
			.row(style="margin-top: 15px;")
				.col-sm-4.text-center
					a.text-center(href="https://mongohq.com" target="_blank")
						img(src="/img/mongohq.png")
				.col-sm-4.text-center
					a.text-center(href="https://mongolab.com" target="_blank")
						img(src="/img/mongolab.png")
				.col-sm-4.text-center
					a.castawaylabs.text-center(href="http://www.castawaylabs.com" target="_blank") Castaway Labs
			.row
				.col-sm-12(style="margin-top: 30px;")
					p.text-center.text-muted © 2014 NodeGear LTD