extends layout

include inc/navbar

block head
	title Node.js Hosting Platform for Bloggers and Developers
	meta(name="description" content="Simple Node.js Application Hosting for web developers with NodeGear.")

block js
	script(src="/vendor/d3/d3.min.js" defer)
	script(src="/js/rtm.js" defer)

block mixpanel
	script.
		var links = [
				{
					id: '.ng-create-blog',
					name: 'Create a Blog',
					page: 'landing'
				}, {
					id: '.ng-learn-more',
					name: 'Learn More (CPU Usage Graph)',
					page: 'landing'
				}, {
					id: '.ng-create-app',
					name: 'Try it for free! (Seconds to Start)',
					page: 'landing'
				}, {
					id: '.ng-get-started',
					name: 'Get Started',
					page: 'landing'
				}, {
					id: '.ng-partner-mongohq',
					name: 'MongoHQ Partner',
					type: 'partner',
					page: 'landing'
				}, {
					id: '.ng-partner-mongolab',
					name: 'MongoLab Partner',
					type: 'partner',
					page: 'landing'
				}, {
					id: '.ng-partner-castawaylabs',
					name: 'CastawayLabs Partner',
					type: 'partner',
					page: 'landing'
				}
			];
			for (var i = 0; i < links.length; i++) {
				mixpanel.track_links(links[i].id, 'Clicked Button Link', links[i]);
			}
			mixpanel.track_forms('#registerForm', 'Created Account');

block content
	header
		+navbar(1)
		.container-fluid
			h1.text-center Node.js hosting for web developers.
			h3.text-center Simple hosting for all your projects.
			form#registerForm.form-inline.text-center(action="https://nodegear.io/register")
				.form-group
					input.input-lg.form-control(type="text" placeholder="Your Name" name="name" autofocus)
				.form-group
					input.input-lg.form-control(type="email" placeholder="Email Address" name="email")
				button.btn.btn-lg.btn-primary(type="submit") Create an Account
	.container
		.row
			section.col-sm-4
				.thumbnail
					img.img-responsive(src="/img/ghost.png")
				h3.text-center Ghost.js Blog
				p.text-center Launch your production-ready Ghost.js blog, using our preset app template. Unlimited Traffic, MySQL Database and Hassle-free management.
					br
					br
					a.ng-create-blog.btn.btn-default(href="https://nodegear.io/" target="_blank") Create a Blog
			section.col-sm-4
				.thumbnail.svg-thumbnail
					svg.rtm
					h1 0%
					span CPU Usage
				h3.text-center Real-Time Monitoring
				p.text-center Gain insight into your application's performance, in real time. Log Streaming, Live Process information, etc.
					br
					br
					a.ng-learn-more.btn.btn-default(href="/features.html") Learn More
			section.col-sm-4
				.thumbnail.svg-thumbnail
					h1 &lt; 30s
					span To Create an App
				h3.text-center Seconds to Start
				p.text-center Seriously, on average it takes less than 30 seconds to create and boot an app from scratch.
					br
					br
					a.ng-create-app.btn.btn-default(href="https://nodegear.io/" target="_blank") Try it for Free!

	.our-story
		.container
			.row
				.col-sm-12
					h1.text-center Our Story
					blockquote We found that hosting node.js applications manually is hard. Whenever we had a new project, there was a lot of work to be put into setting up the right environment, creating the database, proxies and load balancers.. We created a service that automates all this, while being cheap and reliable. We use NodeGear for all our node.js apps internally, and so should you.

	.container.how-it-works
		.row
			.col-sm-12
				h1.text-center How it works
					br
					small Its simple. Use a template or custom app.
		.row(style="margin-top: 10px;")
			.col-sm-6
				h3 Use a Template
				ol
					li Name your application
					li Select from Ghost.js or sample demo
					li Sit back and watch the creation process. Your app will be ready within 30s.
			.col-sm-6
				h3 Deploy a custom node.js app.
				ol
					li Enable access to your git repository via a generated private key.
					li Make sure your app can start with <code>npm start</code>
					li Add your git repository to nodegear
					li App is started on https://coolproject-alex.ngapp.io
		.row(style="margin-top: 15px;")
			.col-sm-12.text-center
				a.ng-get-started.btn.btn-success.btn-lg(href="https://nodegear.io/" target="_blank") Get Started!

	.partners
		.container
			.row
				.col-sm-12
					h1.text-center Our Partners
			.row(style="margin-top: 15px;")
				.col-sm-4.text-center
					a.ng-partner-mongohq.text-center(href="https://mongohq.com" target="_blank")
						img(src="/img/mongohq.png")
				.col-sm-4.text-center
					a.ng-partner-mongolab.text-center(href="https://mongolab.com" target="_blank")
						img(src="/img/mongolab.png")
				.col-sm-4.text-center
					a.ng-partner-castawaylabs.castawaylabs.text-center(href="http://www.castawaylabs.com" target="_blank") Castaway Labs
			
			.row
				.col-sm-12(style="margin-top: 30px;")
					p.text-center.text-muted &copy; 2014 NodeGear LTD
			
			footer.row
				include inc/footer