extends layout

block content
	header
		.row
			.col-sm-12(style="padding-left:0; padding-right:0")
				nav#indexHeader.navbar
					.container-fluid
						.navbar-header
							a.navbar-brand(href="#") NodeGear
						ul.nav.navbar-nav.navbar-right
							li: a(href="/pricing.html") Pricing
							li: a(href="/features.html") Features
							li.divider
							li: a(href="https://nodegear.io/") Log in
							li: a(href="https://nodegear.io/register") Sign up
		.container-fluid
			h1.text-center Node.js hosting for web developers.
			h3.text-center Simple hosting for all your projects.
			form.form-inline.text-center
				.form-group
					input.input-lg.form-control(type="email" placeholder="Email Address" autofocus)
				.form-group
					input.input-lg.form-control(type="password" placeholder="Password")
				button.btn.btn-lg.btn-primary Create Account
	.container
		.row
			section.col-sm-4
				.thumbnail
					img(src="")
				h3.text-center Ghost.js
				p.text-center Launch your production-ready Ghost.js blog, using the preset app template.
					br
					a(href="https://nodegear.io/register") Sign Up.
			section.col-sm-4
				.thumbnail
					img(src="")
				h3.text-center Monitoring
				p.text-center Gain insight into your application performance, in real time.
					br
					a(href="/features.html") Learn More.
			section.col-sm-4
				.thumbnail
					img(src="")
				h3.text-center Easy to Use
				p.text-center Hosting node.js apps is hard. We do the work so you don't have to.

	.our-story
		.container
			.row
				.col-sm-12
					h1.text-center Our Story
					blockquote We found that hosting node.js applications by ourselves is hard. Whenever we had a new project, there was a lot of work to be put into setting up the right environment, creating the database. We created a service that automates all this, while being cheap and reliable. We use NodeGear for all our node.js apps internally, and so should you.

	.container
		.row(style="margin-top:50px;")
			.col-sm-12
				h1.text-center How it works
					br
					small There are three simple ways to deploy an app to nodegear
		.row(style="margin-top: 20px;")
			.col-sm-6
				h3 You Push
				ol
					li: code git push git@nodegear.io:alex/coolproject.git
					li Code is Received and Deployed to one of our servers
					li Runs on coolproject.alex.ngapp.io
			.col-sm-6
				h3 We pull
				ol
					li Add your public key to your private git hosting
					li Create a Process, Press Start
					li Runs on coolproject.alex.ngapp.io
	
	.partners
		.container
			.row
				.col-sm-12
					h1.text-center Our Partners
			.row
				.col-sm-4
					img(src="/img/mongohq.png")
				.col-sm-4
					img(src="/img/mongolab.png")