doctype
html
	head
		title Hello
		
		link(rel="stylesheet" href="/css/ng.css")
		script(src="https://use.typekit.net/ywj1vdk.js")
		script.
			try{Typekit.load();}catch(e){}
		block js
	body
		.container-fluid
			block content