doctype
html(lang="en")
	head
		block head
			title NodeGear
			meta(name="description" content="Simple Node.js Application Hosting for web developers with NodeGear.")

		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		link(rel="stylesheet" href="/css/ng.css")
		script(src="https://use.typekit.net/ywj1vdk.js")
		script.
			try{Typekit.load();}catch(e){}
		block js
	body
		.container-fluid
			block content